[Unit]
Description=Odoo Open Source ERP and CRM
Requires=postgresql.service
After=network.target postgresql.service

[Service]
Type=simple
PermissionsStartOnly=true
SyslogIdentifier=odoo-server
User=odoo
Group=odoo
ExecStart=/opt/odoo/odoo-10.0/odoo-bin --config=/etc/odoo/odoo-server.conf --addons-path=/opt/odoo/odoo-10.0/addons/,/opt/odoo/external_addons/
WorkingDirectory=/opt/odoo/odoo-10.0/
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target